:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}



/* ============ */



.gallery {
  /* Использование Grid для расположения элементов в колонки */
  display: grid;
  /* Создаем 3 одинаковых колонки */
  grid-template-columns: repeat(3, 1fr);
  /* Отступы между колонками */
  column-gap: 24px;
  /* Отступы между рядами */
  row-gap: 24px;
  /* Общий отступ контейнера (если требуется) */
  list-style: none;
  /* Убираем стандартные маркеры списка */
  margin: 0;
  padding: 0;
}

.gallery-item {
  /* Убеждаемся, что элемент занимает всю доступную ширину колонки */
  width: 100%;
  height: 100%;
}

.gallery-link {
  /* Растягиваем ссылку на весь элемент */
  display: block;
}

.gallery-image {
  /* Картинка должна полностью заполнять контейнер и быть обрезана, если нужно */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Это гарантирует, что картинки не будут искажены */
}

